<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="static/playAround.css">
      <script src= "static/JS.js"></script>
      <title>My Blog</title>
   
  </head>
    <body>
         <nav>
               <ul>
                  <li><a href="https://www.w3schools.com/css/css_navbar.asp">THIS IS HERE</a></li>
                  <li><a href="https://www.w3schools.com/css/css_navbar.asp">News</a></li>
               </ul>
         </nav>
   
         <div id="navbar">
            <ul>
               <li> </li>
               <li> </li>
               <li> </li>
            </ul>
               <a href="https://www.w3schools.com/css/css_navbar.asp"">Home</a>
               <a href="https://www.w3schools.com/css/css_navbar.asp"">News</a>
               <a href="https://www.w3schools.com/css/css_navbar.asp"">Contact</a>
         </div>

       <form action="http://www.sololearn.com" method = GET> 
         <input type="checkbox" name="gender" value="1" /> Male <br />
         <input type="checkbox" name="gender" value="2" /> Female <br />
         <input type="submit" value="Submit" /> 
       </form>
       <a href = "/page2">Go to page 2</a>
       <a href = "/page3">Go to page 2</a>
        <div id="intro">
            <p> This paragraph is in the intro section.</p>
         </div>
         <p> This paragraph is not in the intro section.</p>

         <div class="mydiv">
            <p>Some text Some text Some text Some text Some text</p>
         </div>

      <h1><span>About Me ;al;ljas;ldfj;laksdjfl;kasjd;lfkjasd;lkfja;ldkfj;kl</span></h1>
      <p> Hey! I'm <strong>Bennett Bierman</strong>. Coding has changed my world  ... </p>
      <p align = "left">  <class = "quote"> "Declare variables, not war" <br/></p>
      <br/>
      <hr width = "500px" align = "left"/> 
      <p>This is an example of 
         <strong>text-indent </strong> property. 
         First line of our text is indented to the right in 60px. 
         Besides pixels you can also use other measurement units, 
         like pt, cm, em, etc. </p>
      <h2> Noss </h2>
      <hr width = "400px" align = "left"/> 
      <hr width = "300px" align = "left"/> 
      <hr width = "200px" align = "left"/> 
      <hr width = "100px" align = "left"/> 
      <h1>Headline</h1>

      <div style="background-color:green; color:white; padding:20px;">
        <p>Some paragraph text goes here.</p>
        <p>Another paragraph goes here.</p>
      </div>

      <div id="intro">
          <p class="first">This is a <em> paragraph.</em></p>
          <p> This is the second paragraph. </p>
       </div>
       <p class="first"> This is not in the intro section.</p>
       <p> The second paragraph is not in the intro section. </p>

       <style>
        p {
         color:white;
         background-color:gray;
        } 
      </style>

      <p class = "fantasy">
         hello there
      </p>
      
      <h1><span>My Skills</span></h1>

      <p class="cursive small">
         This is a paragraph shown in cursive font.
      </p> 

      <table border="2">
        <tr>
           <td>Red</td>
           <td>Blue</td>
           <td>Green</td>
        </tr>
        <tr>
           <td>Yellow</td>
           <td colspan="2">Orange</td>
        </tr>
     </table>
     
     <table border="2">
      <tr>
         <td>Red</td>
         <td>Blue</td>
         <td>Green</td>
      </tr>

      <tr>
         <td>Yellow</td>
         <td>Orange </td> 
         <td> Black </td>
      </tr>

      <tr>
        <td> I CAN SMELL YOU</td>
        <td> BOY</td>
        <td> STOP</td>
      </tr>
   </table>

   <table align="center"> 
      <table border="2">
          <tr>
             <td bgcolor="red">Red</td>
             <td>Blue</td>
             <td>Green</td>
          </tr>
          <tr>
             <td>Yellow</td>
             <td colspan="2">Orange</td>
          </tr>
       </table>


       <h1><span>My Coding Schedule</span></h1>
<table>
<tr>
  <th>Day</th>
  <th>Mon</th>
  <th>Tue</th>
  <th>Wed</th>
  <th>Thu</th>
  <th>Fri</th>
</tr>
<tr>
  <td>8-8:30</td>
  <td class="selected">Learn</td>
  <td>Fiesta</td>
  <td>Ciesta</td>
  <td>Bekfast</td>
  <td>OSS</td>
</tr>
<tr>
  <td>9-10</td>
  <td></td>
  <td class="selected">Practice</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>1-1:30</td>
  <td></td>
  <td></td>
  <td class="selected">Play</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>3:45-5</td>
  <td></td>
  <td></td>
  <td></td>
  <td class="selected">Code</td>
  <td></td>
</tr>
<tr>
  <td>6-6:15</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="selected">Discuss</td>
</tr>
</table>

    </body>
</html>