<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/playAround.css">
    <title>Page3</title>
</head>
<body>
    canvas id = "gameCanvas" width = "400px" height = "400px" style = "border: 3px solid black"></canvas>
    <script type = text/javascript" src = "templates/game.JS"></script>
    <script>
       canvas = document.getElementById("gameCanvas");
       console.log(canvas);
       runGame(canvas);
    </script>
</body>
</html>